IS_ORBI=1
IS_DESKTOP=1
IS_MINI=0
IS_R9000=0
HAVE_WIRELESS_AC=1
MAX_LAN_PORT=3
HAVE_CIRCLE=1
HAVE_USB=1
HAVE_PARENTAL_CONTROL=1
MODE_1=\"54\"
MODE_2=\"192\"
MODE_3=\"400\"
AN_MODE_1=\"173\"
AN_MODE_2=\"400\"
AN_MODE_3=\"866\"
LBD_RSSISTEERINGPOINT_UG=\"15\"
WIRELESS5G=\"1\"
GUEST_OR_BYOD=\"guest\"
WIRELESS5G_2ND=\"\"
WIRELESSBK5G_2ND=\"2nd_\"
