body {
  padding: 70px 0 0;
  font: normal 13px/1.3 Arial, Helvetica, Geneva, sans-serif;
  color: #7d706c;
  position: relative;
}
body.setup {
  background-color: #f1f1f1;
  padding-bottom: 70px;
}
body.login {
  margin: 0;
  background-color: #F1F1F1;
  font-size: 16px;
}
body.hiddenPage {
  margin:0;
  padding: 10px 50px;
}

